@{
    ViewData["Title"] = "Hakkımızda";
}

<h2 style="text-align: center"><b>Hakkımızda</b></h2>
<br>

<p style="text-align: center">
    Merhaba ve hoş geldiniz! Biz, kitap satışı yapan bir platform olarak, kitap severlere en iyi hizmeti sunma amacıyla buradayız. Geniş kitap koleksiyonumuz ve kullanıcı dostu arayüzümüzle, herkesin kolayca aradığı kitaplara ulaşmasını sağlıyoruz.
</p >
<br> 
<h3 style="text-align: center"><b>Misyonumuz</b></h3>
<br>
<p style="text-align: center">
    Misyonumuz, okuma tutkusunu desteklemek ve herkesin bilgiye ve edebiyata kolayca erişmesini sağlamaktır. Gelişen teknoloji ile birlikte, kitapları her an, her yerde satın alabileceğiniz bir deneyim sunuyoruz. Amacımız, kitap severlerin favori eserlerine kolayca ulaşmasını sağlamak ve yeni yazarları keşfetmelerine yardımcı olmaktır.
</p>
<br>
<h3 style="text-align: center"><b>Vizyonumuz</b></h3>
<br>
<p style="text-align: center">
    Vizyonumuz, kitap satışı alanında öncü bir platform olarak, herkesin bilgiye ve edebiyata eşit erişimini sağlamaktır. Kullanıcılarımızın ihtiyaçlarına uygun çözümler sunarak, okuma alışkanlıklarını modern çağın gereksinimlerine uyarlıyoruz.
</p>
<br>
<h3 style="text-align: center"><b>Neler Sunuyoruz?</b></h3>
<br>
<ul style="text-align: center">
    <li><strong>Geniş Kitap Koleksiyonu:</strong> Romanlardan bilimsel eserlere, çocuk kitaplarından kişisel gelişim kitaplarına kadar geniş bir yelpazede kitaplar sunuyoruz.</li>
    <li><strong>Kolay Erişim:</strong> Web sitemiz ve mobil uygulamamız sayesinde, dilediğiniz an ve yerde kitaplarınıza erişim sağlayabilirsiniz.</li>
    <li><strong>Yenilikçi Özellikler:</strong> Kitap satın alma deneyiminizi zenginleştirmek için kişiselleştirilmiş öneriler, okuma listeleri ve özel indirimler sunuyoruz.</li>
</ul>
<br>
<h3 style="text-align: center"><b>Değerlerimiz</b></h3>
<br>
<ul style="text-align: center" >
    <li><strong>Erişilebilirlik:</strong> Herkesin bilgiye ve eğitime eşit şekilde erişimini sağlamak.</li>
    <li><strong>Yenilikçilik:</strong> Sürekli gelişen ve yenilenen bir platform sunmak.</li>
    <li><strong>Topluluk:</strong> Okuyucularımızla güçlü bir bağ kurmak ve onlara destek olmak.</li>
</ul>
<br>
<p style="text-align: center">
    Kitap okuma deneyimini zenginleştirmek ve her yaştan okuyucuya hitap etmek için buradayız. Siz de bu yolculuğa katılmak ve yeni hikayeler keşfetmek için bizi takip edin!
</p>


