@{
    ViewData["Title"] = "Ödeme Başarılı";
}
<div style="text-align: center;">
<h2><strong>Sipariş Başarılı</strong></h2>
<br>
<p>Sipariş verme işlemi başarıyla tamamlandı. Siparişiniz en kısa sürede işleme alınacaktır.</p>
<br>

<a href="/" class="btn btn-primary">Anasayfa'ya Dön</a>
</div>